/* Main CSS file for all pages and components */

/* ***** BEM naming convention ***** */
/*       "Block Element Modifier"    */
/* eg. "btn__text" refers to the text child element inside btn */
/* "btn__text--green refers to same but green modified text    */
/* BE MODULAR BE CONCISE */
/* ********************************* */

/* ***** Available Fonts to use ***** */
/*                                    */
/* font-family: "cooper-black-std",serif;
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Acme', sans-serif; */
/* font-family: 'Crete Round', serif; */
/* font-family: 'Concert One', cursive; */
/* font-family: 'Anton', sans-serif; */
/*                                    */
/* ********************************* */

/* Table of Contents*********************** 
    1. App.js
        1a. NavBar
    2.Landing Page
        2a. Jumbotron
    3.NewSmokeInfo
    4.NewSmoke
        4a. InfoBox
        4b. Table
    10. Miscellaneous
        10a. CustomButton
/* ****************************************** */
html {
    height: 100%;
}

body {
    min-height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
#root {
    display: block;
    /* position:absolute; */
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}
/* ************************* */
/*    1. App.js      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*   
    */
.app {
    width: 100%;
    height: 100%
}

/* ************************* */
/*    1a. NavBar      */
/* ************************* */

.nav {
    background: rgba(250,247,245,.77);
    padding: 30px 0px 30px 0px;
    max-height: 20vh;
    display:flex;
    /* position:fixed; */
    position: absolute;
    width:100%;
    z-index: 99999;
    /* border-bottom: 4px double black; */
    /* background-image: url('./img/rust.jpg'); */
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9); */
}

.nav__toggle {
    display: none;
}

.nav__logoText {
    font-family: "cooper-black-std",serif;
    /* font-family: 'Acme', sans-serif; */
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    width: 300px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: auto;
    margin-left: 20px;

    /* line-height: inherit; */
    /* white-space: nowrap; */
}

.nav__logoText a {
    color: black;
}

.nav__logoText a:hover {
    text-decoration: none;
} 

.nav__logoText a:visited {
    color: black;
} 

.nav__welcome { /* removes skeleton button styling*/
    pointer-events: none;
    cursor: none;
    border:none;
    font-family: "cooper-black-std",serif;
    color:black;
    font-size:1.5em;
}

.nav__button {
    font-family: "cooper-black-std",serif;
    border: 0;
    font-size: 1.5em;
    /* padding: 0; */
    background: inherit;
    color: black;
    margin-right: 10px;
    padding:10px;
    margin-top: 8px;
    /* justify-content: flex-end;
    display: flex; */
}

.nav__button:hover {
    cursor: pointer;
}

.nav__icon {
    margin-left: 5px;
}
.nav__search {
    width: 40%;
    margin: none;
}

/* ************************* */
/*    2. Landing Page      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  Grid layout
    */
.landing__body {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./img/jumbotronmeat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 80% rgba(0, 0, 0, 0.3);
    opacity: 1;
    filter: alpha(opacity=65);
    width: 100%;
    /* height: 100%; */
}

.landing__div {
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:none;

    width: 30%;
    height: 35%;
}

/* ************************* */
/*    2a. Jumbotron      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  Grid layout
        jumbotron 
    */
.jumbotron__div {
    margin: auto;
    padding: 10px;
    width: 20em;
    height: 15em;
    border-radius: 25px;

    /* position:absolute;
    left:0; right:0;
    top:0    opacity: 1;
; bottom:0;
    margin:auto; */

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:none;

    /* border: 5px solid black; */
    background-color: rgb(0, 0, 0, 0.6);
    border-width: 25%
}

.jumbotron__div__text {
    text-align: center;
    color: #e2dbd3;
    height: inherit;
}

.jumbotron__div__h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5em;
    font-family: 'Anton', sans-serif;
}

.jumbotron__div__h2 {
    /* font-family: 'Fjalla One', sans-serif; */
    font-size: 2em;
    margin-top: 0px;
    font-family: 'Acme', sans-serif;
}

.landing__divBtn {
    margin: auto;
    width:20em;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__div--btn {
    border: 1px solid rgba(rgba(250,247,245,.77)197, 30, 30, 0.294);
    padding: .375rem .75rem;
    background: rgba(250,247,245,.77);
    color: rgba(197, 30, 30);
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}
.landing__div--btn:hover {
    cursor:pointer;
    background: rgba(219, 210, 205, 0.89)
}


/* ************************* */
/*    4. NewSmoke      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */

.newSmoke__container {
    overflow:auto;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(254, 251, 196);
    width: 100%;
}

.newSmoke__containerData {
    background-color: inherit;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    margin-top: 10%;
    /* max-width:80%;
    max-height:80%;

    width: 50%;
    height: 50%; */
}

.newSmoke__header {
    height:19vh;
    width:100%;
    background: #e0eaef;
}

.newSmoke__submitBtn:disabled {
    opacity: .65;
    pointer-events: none;
    cursor: default;
}
/* ************************* */
/*    4b. DataGrid      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */

    .noMargLeft {
        margin-left: 0px
    }
    .bottom-right {
        float: right;
        vertical-align: bottom;
    }

    .form__textArea {
        width: 100%;
    }

    .row--marginTop {
        margin-top: 20px;
    }

    .textField--marginTop {
        margin-top: 20px;
    }
    .textField--bkgborder input {
        border: none;
        background-color: transparent;
    }


/* ************************* */
/*    4b. ResultsContainer      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */
    .resultsContainer {
        padding-top: 10%;
        background: inherit;
    }

/* ************************* */
/*    4b. SearchResults     */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */
    .result {
        border: 2px black solid;
    }

/* ************************* */
/*    5. SearchResults     */
/* ************************* */
    .session__page {
        background-color: rgb(254, 251, 196);
    }
    .session__container {
        padding-top: 25vh;
    }

/* ************************* */
/*    6. InfoBox     */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */
    .infoBox__container {
        margin-top: 5vh;
        padding-bottom: 10vh;
    }
    .infoBox__div {
        border: 1px solid black;
        /* width: 90%; */
    }
    .infobox__textDiv {
        margin-left: 2vh;
        font-size: 1.25em;
    }

/* ************************* */
/*    10. Misc      */
/* ************************* */
    /* .resetStyle {
        all: initial;
    }
    .butt {
        border: 1px solid black;
    } */

    .font--freightSans {
        font-family: "Freight Sans";
    }
    .font--freightText {
        font-family: "Freight Text";
    }
    .noMaxWidth {
        max-width: none;
    }
    .vertical-align-wrap {
        /* position: absolute; */
        width: 100%;
        display: table;
      }

    .vertical-align--bottom {
        vertical-align: bottom;
    }
    .float--right {
        float: right;
    }

    .header--halfWidth {
        width: 50%;
    }

    .noMargLeftRight {
        margin-left: 0px;
        margin-right: 0px;
    }
    .font--mini {
        font-style: normal;
        font-weight: 300;
        font-size: .6em;
    }
/* ************************* */
/*    10. Media Queries      */
/* ************************* */

/* all mobile */
@media screen and (max-width:1199px) {
    html {
        overflow: auto; 
    }
}

@media screen
and (min-width: 320px)
and (max-width: 480px)  {
    .nav__logoText {
        margin: auto;
        
    }
    .nav__nav-btn {
        margin: auto;
    }

    .jumbotron__div__text {
        font-size: 0.5em;
    }

    .jumbotron__div__btn {
        margin-top: 25px;
    }
    .jumbotron__div {
        width: 50%;
        height:18em;
    }
}

@media only screen
and (min-width: 481px)
and (max-width: 767px) {

    .jumbotron__div {
        position: relative;
        top: 100px;
    }
    .nav__logoText {
        margin: auto;
        
    }
    .nav__nav-btn {
        margin: auto;
    }

    .landing--bkg {
        background-image: url('./img/jumbotronmeatSide.jpg');
        background-size: contain;
    }
    .jumbotron__div {
        padding-bottom: 200px;
        width:55%;
    }

    .jumbotron__div__btn {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {

    .nav {
        background: transparent;
        position: absolute;
        z-index: 99;
        width: 100%;
        flex-direction: column;
    }
    .nav__nav-btn, .nav__logoText {
        display: none;
    }

    .nav__toggle {
        color: #e2dbd3;
        /* align-self: flex-end; */
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    
    .nav__toggleShow {
        display: flex;
    }
    .nav__toggleTransparency {
        background: rgba(250,247,245,.77);
    }

    .nav__toggleColor {
        color: black;
    }
}

@media only screen 
and (min-width: 768px)
and (max-width: 996px) {
    
    .jumbotron__div {
        position: relative;
        /* top: 100px; */
        /* margin-top: 50px; */
        margin:auto;
        /* padding-bottom: 315px; */
        padding-top:20px;
        height: 17em;
    }
    .jumbotron__div__text {
        padding-top:40px;
        font-size: 0.5em;
    }
}

@media only screen 
and (min-width: 996px)
and (max-width: 1199px) {
    .jumbotron__div {
        height: 43%;
    }
}

.swal2-popup .swal2-styled {
    padding-top: 0;
    padding-bottom: 0;
}