/* Main CSS file for all pages and components */

/* ***** BEM naming convention ***** */
/*       "Block Element Modifier"    */
/* eg. "btn__text" refers to the text child element inside btn */
/* "btn__text--green refers to same but green modified text    */
/* BE MODULAR BE CONCISE */
/* ********************************* */

/* Table of Contents*********************** 
    1. App.js
        1a. NavBar
    2.Landing Page
        2a. Jumbotron
    3.NewSmokeInfo
    4.NewSmoke
        4a. InfoBox
        4b. Table
    10. Miscellaneous
        10a. CustomButton
/* ****************************************** */
html {
    height: 100%;
}

body {
    min-height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
#root {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}
/* ************************* */
/*    1. App.js      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*   
    */
.app {
    width: 100%;
    height: 100%
}

/* ************************* */
/*    1a. NavBar      */
/* ************************* */

.nav {
    background: rgba(250,247,245,.77);
    padding: 30px;

    /* border-bottom: 4px double black; */
    /* background-image: url('./img/rust.jpg'); */
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9); */
}

.nav__logoText {
    font-family: "cooper-black-std",serif;
    /* font-family: 'Acme', sans-serif; */
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    width: 300px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: auto;

    /* line-height: inherit; */
    /* white-space: nowrap; */
}

.nav__logoText a {
    color: black;
}

.nav__logoText a:hover {
    text-decoration: none;
} 

.nav__logoText a:visited {
    color: black;
} 

/* .nav__li {
    float:left;
    height: 100%;
    border-left: 2px solid black;
} */
.nav__button {
    font-family: "cooper-black-std",serif;
    border: 0;
    font-size: 1.5em;
    /* padding: 0; */
    background: inherit;
    color: black;
    margin-right: 10px;
    padding:10px;
    margin-top: 8px;
    /* justify-content: flex-end;
    display: flex; */
}

.nav__button:hover {
    cursor: pointer;
}

.nav__icon {
    margin-left: 5px;
}
.nav__search {
    width: 40%;
    margin: none;
}

/* ************************* */
/*    2. Landing Page      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  Grid layout
    */

.allCards__card {
    border: 2px solid gray;
    margin-bottom: 10%;
    padding-left: 0px;
    padding-right: 0px;
}
.card_image {
    width: 100%;
}

/* ************************* */
/*    2a. Jumbotron      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  Grid layout
        jumbotron 
    */
.landing__body {
    height: 80%;
    z-index: 1;
}

.landing--bkg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./img/jumbotronmeat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 80% rgba(0, 0, 0, 0.3);
    opacity: 1;
    filter: alpha(opacity=65);
    width: 100%;
    height: 100%;

}
/* keep box but transparent to see behind, but dont affect font */
/* make box more like a square, round corners */
/* change textr color
*/
.jumbotron__div {
    padding: 20px 0px 10px 0px;
    width: 30%;
    height: 35%;
    opacity: 1;
    border-radius: 25px;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:none;

    /* border: 5px solid black; */
    background-color: rgb(0, 0, 0, 0.6);
    border-width: 25%
}

@media only screen
and (min-width: 479px)
and (max-width: 768px) {
    .nav__logoText {
        margin: auto;
        
    }
    .nav__nav-btn {
        margin: auto;
    }
    .landing--bkg {
        background-image: url('./img/jumbotronmeatSide.jpg');
    }
    .jumbotron__div {
        padding-bottom: 300px;
        width:55%;
    }
}
@media only screen 
and (min-width: 768px)
and (max-width: 996px) {
    html {
       overflow: auto; 
    }

    .jumbotron__div {
        position: relative;
        margin-top: 10px;
        padding-bottom: 315px;
        padding-top:20px;
    }
}
.jumbotron__div__text {
    text-align: center;
    color: #e2dbd3;

    /* font-family: 'Fjalla One', sans-serif; */

    /* font-family: 'Acme', sans-serif; */

    /* font-family: 'Crete Round', serif; */

    /* font-family: 'Concert One', cursive; */
}

.jumbotron__div__h1 {
    font-size: 5em;
    font-family: 'Anton', sans-serif;
}

.jumbotron__div__h2 {
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Acme', sans-serif;
}


/* ************************* */
/*    4. NewSmoke      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */

/* ************************* */
/*    4b. DataGrid      */
/* ************************* */
    /* Bootstrap Classes Used*/
    /*  
    */

    .noMargLeft {
        margin-left: 0px
    }
    .bottom-right {
        float: right;
        vertical-align: bottom;
    }

    .form__textArea {
        width: 100%;
    }

    .row--marginTop {
        margin-top: 20px;
    }

    .textField--marginTop {
        margin-top: 20px;
    }
    